@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h2>Pedido com Maior Valor Total</h2>
    <button onclick="consultarMaiorValor()">Consultar</button>
    <div id="resultadoMaiorValor"></div>
</div>

<!-- Consultar pedidos item por nome -->
<div>
    <h2>Consultar Pedidos por Nome</h2>
    <input type="text" id="nomePedido" />
    <button>Consultar</button>
    <div id="resultadoPorNome"></div>
</div>

<!-- Consultar apenas os pedidos ativos -->
<div>
    <h2>Pedidos Ativos</h2>
    <button">Consultar</button>
    <div id="resultadoPedidosAtivos"></div>
</div>

<!-- Consultar apenas pedidos realizados no ano de 2017 -->
<div>
    <h2>Pedidos Realizados em 2017</h2>
    <button">Consultar</button>
    <div id="resultadoPedidos2017"></div>
</div>

<!-- Consultar pedidos item (de todos os pedidos) onde o valor seja menor que R$ 18,50 -->
<div>
    <h2>Pedidos Item com Valor Menor que R$ 18,50</h2>
    <button>Consultar</button>
    <div id="resultadoPorValor"></div>
</div>
