@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<h1>Lista de Items Pedidos</h1>


<div class="form-group mb-0 align-middle">
    <form method="post" asp-page-handler="ByName">
        <label asp-for="pedidoItem.Nome">Name</label>
        <input type="text" asp-for="pedidoItem.Nome" class="mr-5">
        <button class="btn btn-primary">Buscar</button>
    </form>
    <form method="post" class="card p-3" asp-page-handler="ByValue">
        <label asp-for="pedidoItem.Valor"></label>
        <button class="btn btn-primary">Buscar</button>
    </form>
</div>

<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Valor</th>
            <th scope="col">Ativo</th>
        </tr>
    </thead>
    @foreach (var pedidoItem in Model.ListaDePedidoItem)
    {
        <tr>
            <td>@pedidoItem.Nome</td>
            <td>@($"{pedidoItem.Valor:C}")</td>
            <td>@pedidoItem.Ativo</td>
            <td>
        </tr>
    }
</table>